body {
    font-family: Arial, sans-serif;
    background: #f5f6f8;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teams-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-container, .rounds-box, .output-box {
    width: 90%;
    max-width: 420px;
    background: white;
    border-radius: 12px;
    padding: 12px;
    margin: 10px 0;

    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
    transition: all 0.2s ease;
}

.team-container:hover,
.rounds-box:hover,
.output-box:hover {
    transform: translateY(-2px);
}

.team-container, .rounds-box, .output-box {
    transition: 0.2s;
}

.team-container:active,
.rounds-box:active,
.output-box:active {
    transform: scale(0.98);
}

.inputs-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.inputs-container label {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 13px;
    align-items: center;
}

input[type="number"] {
    width: 80px;
    height: 32px;
    padding: 6px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    text-align: center;
}

.rounds-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    text-align: center;
    margin: 6px 0;
    font-size: 14px;
    font-weight: 600;
    color: #333;
}

button {
    width: 90%;
    max-width: 420px;

    padding: 10px;

    background: #4a90e2;
    color: white;

    border: none;
    border-radius: 12px;

    font-size: 15px;
    font-weight: 600;

    cursor: pointer;

    margin: 10px 0;

    transition: all 0.2s ease;
}

button:hover {
    background: #3b7ac2;
    transform: translateY(-2px);
}

button:active {
    transform: scale(0.98);
}

.output-box {
    width: 90%;
    max-width: 420px;

    background: white;
    border-radius: 12px;

    padding: 10px;
    margin: 10px 0;

    box-shadow: 0 3px 10px rgba(0,0,0,0.08);

    text-align: left;
    font-size: 13px;
}

.output-box pre {
    overflow-x: auto;
    white-space: pre-wrap;
    word-break: break-word;
    font-size: 16px;
}

@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    .team-container, .rounds-box, .output-box {
        width: 95%;
        padding: 10px;
    }

    h3 {
        font-size: 16px;
    }

    .inputs-container {
        gap: 25px;
    }

    button {
        width: 95%;
        height: 45px;
        font-size: 16px;
    }
}
